body {
  font-family: Arial, sans-serif;
  background-color: #d4d0d0;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #d10000;
  color: #ffff;
  text-align: center;
  padding: 20px;
}
section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
h2 {
  color: green;
  text-align: center;
}
.product {
  margin-left: 10px;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
.email-field {
  margin-bottom: 10px;
}
button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
footer {
  margin-top: 40px;
  padding: 40px;
  background-color: black;
  border-radius: 5px;
  box-shadow: #333;
  text-align: center;
  color: white;
}
